.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  text-transform: uppercase;
  transition: background-color 0.6s ease;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2px;
}
.storybook-button:active {
  transform: translate(1px, 1px);
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px;
}
.storybook-button--primary {
  color: white;
  background-color: #ec6e4c;
}
.storybook-button--secondary {
  color: white;
  background-color: #ec6e4c;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
