:root {
  --light-color: #faf3dd;
  --green-color: #64958f;
  --green-faded-color: #64958f83;
  --blue-color: #065c6f;
  --blue-faded-color: #087d97;
  --orange-color: #ec6e4c;
}
html {
  height: 100vh;
  margin: 0 auto;
  /* max-width: 90vw; */
}

body {
  font-family: "Comfortaa", cursive;
  background-color: var(--blue-color);
  /* height: 100vh; */
  color: var(--light-color);
}
#root,
.app {
  /* height: 100vh; */
}
/* img {
  max-width: 100%;
  max-height: 100%;
} */
a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
li {
  list-style: none;
}
button {
  font-family: inherit;
}
.app--flex-row {
  /* height: 100%; */
  display: flex;
  justify-content: center;
}
.navbar {
  padding: 10px 5px;
  background-color: var(--green-color);
}
.navbar--flex-column {
  display: flex;
  flex-direction: column;
}
.navbar__item {
  padding: 5px;
  color: var(--light-color);
  max-width: 120px;
  transition: 0.5s ease;
  text-align: center;
}
.navbar__item--border {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.navbar__item:hover {
  background-color: var(--blue-color);
  font-size: 20px;
  font-weight: 700;
}
/* .active {
  font-size: 20px;
  font-weight: 700;
} */
.navbar__gap {
  padding: 10px;
}
.container {
  padding: 2vh 2vw;
  width: 100%;
  /* max-height: 100%; */
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}
.grid-item {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
}
.container-header {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 1px 1px inset;
}
.long-row-wrap {
  word-break: break-all;
}
